@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Markazi+Text:wght@500&family=Oswald:wght@200;300;400;500;600;700&family=Rokkitt:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}
:root {
  background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  object-fit: cover;
}

.news {
  overflow-y: hidden;
}

/* App */
.App {
  width: 90%;
  margin: 0 auto;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

/* Header */
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 148px;
  margin-right: 30px;
}

.login-btn {
  border: none;
  width: 100px;
  height: 32px;
  border-radius: 5px;
  background: rgb(225, 9, 9);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
/* .login-btn-contact {
  margin-right: 10px;
  border: none;
  width: 100px;
  height: 32px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: #f90707;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
} */

.nav {
  display: flex;
  margin-right: auto;
}

.nav li a {
  padding: 0 5px;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
}

/* End Header */

/* Card */

.card {
  border: 1px solid #fff;
  background-color: #0000009d;
  border-radius: 8px;
  overflow: hidden;
  height: 530px;
}
.card-top {
  margin-bottom: 15px;
}
.card-bottom {
  text-align: center;
  display: grid;
  justify-content: center;
  color: #fff;
  padding: 10px;
}

.card-bottom-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-bottom-btn {
  border: none;
  height: 32px;
  border-radius: 5px;
  justify-self: center;
  margin-top: 20px;
}

.card-bottom-btn a {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 10px;
  background: rgb(225, 9, 9);
}
.card-top img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  padding-top: 10px;
}

.container-content {
  height: 500px;
  display: flex;
}
.container-content-title {
  margin-top: 8%;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
}
.container-content-subTitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.container-content-btn {
  border: none;
  height: 40px;
  width: 260px;
  border-radius: 5px;
  justify-self: center;
  margin-top: 20px;
  background: rgb(225, 9, 9);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.container-content-action {
  display: flex;
  justify-content: center;
}

.container-content-btn a {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}
/* Detail Btn */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  display: grid;
  margin: 60px auto;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  height: 600px;
}
.popup img {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}
.popup h2 {
  font-size: 18px;
  padding: 10px 0px;
  color: #333;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  font-size: 12px;
  height: 100px;
  overflow: auto;
}
/* Start Footer */
.footer {
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-bottom {
  padding: 10px 0px;
}

.footer-bottom-input {
  width: 200px;
  height: 30px;
  margin: 0px 10px;
  border-radius: 5px;
  border: none;
  padding: 5px 5px;
}
.footer-bottom-btn {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.footer-top-title {
  color: #fff;
}
/* End Footer */

/* Start Login */
.logo {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .logo {
  width: 148px;
}

.login-container {
  display: grid;
}

.login-content {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 650px;
  padding: 60px 68px 40px;
  margin: 0px 0px 90px;
  justify-self: center;
  background-color: #0000009d;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
}

.login-content-top {
  height: 360px;
  width: 314px;
  display: flex;
  flex-direction: column;
}

.login-content-top h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 28px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input-email,
.login-input-password {
  margin-bottom: 40px;
  border: none;
  background-color: #333333;
  border-radius: 5px;
  height: 50px;
  color: #ffff;
  line-height: 50px;
  padding: 16px 20px 0px;
  outline: none;
}
.login-content-btn {
  text-align: center;
  border: none;
  width: 314px;
  height: 48px;
  border-radius: 5px;
  background: rgb(225, 9, 9);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 12px;
}

.login-content-form-help {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 13px;
}

.input-login-rememberme input {
  margin-right: 4px;
}

.login-content-form-help a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 13px;
  font-weight: 400;
}
.login-content-bottom {
  overflow-y: hidden;
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}
.login-content-bottom a {
  text-decoration: none;
  margin-left: 5px;
  font-size: 20px;
  color: #fff;
}

.login-signup-now {
  margin-bottom: 15px;
}

.recaptcha-terms-of-use {
  font-size: 13px;
}

.recaptcha-terms-of-use--link-button {
  background-color: transparent;
  border: none;
  color: #0071eb;
  cursor: pointer;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}
.cha-terms-of-use--disclosure {
  margin-top: 5px;
  font-size: 14px;
}

.cha-terms-of-use--disclosure a {
  font-size: 13px;
}
/* End Login */

/* Start Trailer */
.container-movie-film {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 480px;
  width: 850px;
}
.container-movie {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.555);
}
.container-movie-film embed {
  width: 100%;
  height: 100%;
}
.movie-film-title {
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
}
.container-movie-content {
  font-size: 13px;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-movie-content-right {
  width: 90%;
  padding: 0px 20px;
}
.container-movie-content-right-title {
  font-size: 25px;
  color: #46d369;
  padding: 10px 0px;
}
.container-movie-content-right-description {
}
.container-movie-content-lef {
}
.container-movie-content-lef-director {
  display: flex;
  padding: 10px 0px;
}
.container-movie-content-lef-director span {
  color: #777;
  margin-right: 5px;
}
.container-movie-content-lef-actor {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}
.container-movie-content-lef-actor span {
  flex: none;
  color: #777;
  margin-right: 5px;
}
.container-movie-content-lef-type {
  display: flex;
  padding: 10px 0px;
}
.container-movie-content-lef-type span {
  color: #777;
  margin-right: 5px;
}
.container-movie-content-lef-duration {
  display: flex;
  padding: 10px 0px;
}
.container-movie-content-lef-duration span {
  color: #777;
  margin-right: 5px;
}
/* End Trailer */

/* Responsive HomePage 100% */
@media only screen and (max-width: 566px) {
  .card {
    height: 400px;
    width: 100%;
  }
  .card-top img {
    height: 100%;
  }
  .card-top {
    height: 70%;
  }
  .detail {
    height: 350px;
  }

  .detail-bottom {
    font-size: 10px;
  }
}

/* Start News */
.container-news {
}

.news {
  padding: 20px 0px;
}

.news-top {
  overflow-y: hidden;
  height: 120px;
  width: 215px;
}
.container-news-title {
  color: #e5e5e5;
  overflow-y: hidden;
  font-size: 17px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: bottom;
}
.news-top img {
  border-radius: 5px;
  width: 100%;
  object-fit: fill;
}

.billboard-motion {
  height: 800px;
  width: 1400px;
  position: relative;
}

.motion-background img {
  position: absolute;
  background-position: 50%;
  background-size: cover;
  bottom: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  left: 0;
  opacity: 1;
  right: 0;
  top: 0;
  transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
  width: 100%;
}
.info-container {
  width: 40%;
  top: 40%;
  padding: 10px 50px;
  margin-bottom: 1.2vw;
  min-height: 13.2vw;
  position: absolute;
}
.billboard-title img {
  width: 100%;
}
.info-wrapper p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.1vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  width: 100%;
  margin-bottom: 20px;
}
.billboard-button-layer {
  display: flex;
  flex-direction: row;
}
/* End News */
